<!DOCTYPE html>
<html>

<head>
	<title>Sports Leagues</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>

	<h1>1. Todas las ligas de béisbol</h1>
	<ol>
		{% for league in leagues %}
		<li>{{league.name}}</li>
		{% empty %}
		<p>No leagues found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>

	<hr>
	<h1>2. Todas las ligas de mujeres</h1>
	<ol>
		{% for liga in liga_mujeres %}
		<li>{{liga.name}}</li>
		{% empty %}
		<p>No leagues found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>
	<hr>

	<h1>3. Todas las ligas donde el deporte es cualquier tipo de hockey</h1>
	<ol>
		{% for liga in liga_hockey %}
		<li>{{liga.name}}</li>
		{% empty %}
		<p>No leagues found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>
	<hr>

	<h1>4. Todas las ligas donde el deporte no sea football</h1>
	<ol>
		{% for liga in liga_no_football %}
		<li>{{liga.name}}</li>
		{% empty %}
		<p>No leagues found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>
	<hr>

	<h1>5. Todas las ligas que se llaman "conferencias"</h1>
	<ol>
		{% for liga in liga_conferencia %}
		<li>{{liga.name}}</li>
		{% empty %}
		<p>No leagues found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>
	<hr>

	<h1>6. Todas las ligas de la región atlántica</h1>
	<ol>
		{% for liga in liga_atlantica %}
		<li>{{liga.name}}</li>
		{% empty %}
		<p>No leagues found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>
	<hr>
	<h1>7. Todos los equipos con sede en Dallas</h1>
	<ol>
		{% for team in equipo_dallas %}
		<li>{{team.location}} {{team.team_name}} ({{team.league.name}}-{{team.league.sport}} )</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>
	<hr>
	<h1>8. Todos los equipos nombraron los Raptors</h1>
	<ol>
		{% for team in equipo_raptors %}
		<li>{{team.location}} {{team.team_name}} ({{team.league.name}}-{{team.league.sport}} )</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>
	<hr>
	<h1>9. Todos los equipos cuya ubicación incluye "Ciudad"</h1>
	<ol>
		{% for team in equipo_city %}
		<li>{{team.location}} {{team.team_name}} ({{team.league.name}}-{{team.league.sport}} )</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>

	<hr>
	<h1>10. Todos los equipos cuyos nombres comienzan con "T"</h1>
	<ol>
		{% for team in equipo_t %}
		<li>{{team.location}} {{team.team_name}} ({{team.league.name}}-{{team.league.sport}} )</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>

	<hr>
	<h1>11. Todos los equipos, ordenados alfabéticamente por ubicación</h1>
	<ol>
		{% for team in equipo_orden_ubicacion %}
		<li>{{team.location}} {{team.team_name}} ({{team.league.name}}-{{team.league.sport}} )</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>

	<hr>
	<h1>12. Todos los equipos, ordenados por nombre de equipo en orden alfabético inverso</h1>
	<ol>
		{% for team in equipo_orden_nombre %}
		<li>{{team.location}} {{team.team_name}} ({{team.league.name}}-{{team.league.sport}} )</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>

	<hr>
	<h1>13. Todo jugador con apellido "Cooper"</h1>
	<ol>
		{% for player in jugador_cooper %}
		<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>
	
	<hr>
	<h1>14. Cada jugador con nombre "Joshua"</h1>
	<ol>
		{% for player in jugador_joshua %}
		<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>

	<hr>
	<h1> 15. Todos los jugadores con el apellido "Cooper" EXCEPTO aquellos con "Joshua" como primer nombre</h1>
	<ol>
		{% for player in jugador_cooper_no_joshua %}
		<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>

	<hr>
	<h1> 16. Todos los jugadores con nombre "Alexander" O nombre "Wyatt"</h1>
	<ol>
		{% for player in jugador_alexander_o_wyatt %}
		<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>

	<hr>
	<h1> 17. Todos los jugadores con nombre "Alexander" O nombre "Wyatt"</h1>
	<ol>
		{% for player in jugador_alexander_o_wyatt2 %}
		<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>
<hr>
<hr>

<h1>Ejercicio parte 2</h1>
<hr>
<h1>2.1 todos los equipos en la Atlantic Soccer Conference</h1>
<ol>
	{% for team in equipo_atlantic %}
	<li>{{team.location}} {{team.team_name}} ({{team.league.name}}-{{team.league.sport}} )</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>
<h1>2.2 todos los jugadores (actuales) en los Boston Penguins</h1>
<ol>
	{% for player in jugador_boston_penguins %}
	<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>

<h1>2.3 todos los jugadores (actuales) en la International Collegiate Baseball Conference</h1>
<ol>
	{% for player in jugador_international %}
	<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>

<h1>2.4 todos los jugadores (actuales) en la Conferencia Americana de Fútbol Amateur con el apellido "López"</h1>
<ol>
	{% for player in jugador_conferencia %}
	<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>

<h1>2.5 todos los jugadores de fútbol</h1>
<ol>
	{% for player in jugador_soccer %}
	<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>

<h1>2.6 todos los equipos con un jugador (actual) llamado "Sophia"</h1>
<ol>
	{% for team in equipo_sophia %}
	<li>{{team.team_name}} ({{team.league.name}}-{{team.league.sport}} )</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>

<h1>2.7 todas las ligas con un jugador (actual) llamado "Sophia"</h1>
<ol>
	{% for league in liga_sophia %}
	<li>{{league.name}}</li>
	{% empty %}
	<p>No leagues found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>

<h1>2.8 todos con el apellido "Flores" que no juegan para Washington Roughriders</h1>
<ol>
	{% for player in jugador_flores %}
	<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>

<h1>2.9 todos los equipos, pasados y presentes, con los que Samuel Evans ha jugado</h1>
<ol>
	{% for team in equipo_samuel %}
	<li>{{team.team_name}} ({{team.league.name}}-{{team.league.sport}} )</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>

<h1>2.10 todos los jugadores, pasados y presentes, con los gatos tigre de Manitoba</h1>
<ol>
	{% for player in jugador_manitoba %}
	<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>

<h1>2.11 Todos los jugadores que anteriormente estaban (pero que no lo están) con los Wichita Vikings</h1>
<ol>
	{% for player in jugador_wichita %}
	<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>

<h1>2.12 cada equipo para el que Jacob Gray jugó antes de unirse a los Oregon Colts</h1>
<ol>
	{% for team in equipo_jacob %}
	<li>{{team.team_name}} ({{team.league.name}}-{{team.league.sport}} )</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>


<h1>2.13 todos llamados "Joshua" que alguna vez han jugado en la Federación Atlántica de Jugadores de Béisbol Amateur</h1>
<ol>
	{% for player in jugador_joshua %}
	<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>

<h1>2.14 todos los equipos que han tenido 12 o más jugadores, pasados y presentes. (SUGERENCIA: busque la función de anotación de Django).</h1>
<ol>
	{% for team in equipo_doce %}
	<li>{{team.team_name}} ({{team.league.name}}-{{team.league.sport}} )</li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>

<h1>2.15 todos los jugadores y el número de equipos para los que jugó, ordenados por la cantidad de equipos para los que han jugado</h1>
<ol>
	{% for player in jugador_equipos %}
	<li>{{player.first_name}} {{player.last_name}}  =  {{player.num_teams}} </li>
	{% empty %}
	<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
			href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
	{% endfor %}
</ol>
<hr>


	<hr>
	<h1>Leagues</h1>
	<ol>
		{% for league in leagues %}
		<li>{{league.name}}</li>
		{% empty %}
		<p>No leagues found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>

	<h1>Teams</h1>
	<ol>
		{% for team in teams %}
		<li>1{{team.location}} 2{{team.team_name}} (3{{team.league.name}}-4{{team.league.sport}} )</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>

	<h1>Players</h1>
	<ol>
		{% for player in players %}
		<li>{{player.first_name}} {{player.last_name}}    ---    ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
		{% empty %}
		<p>No teams found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>